$primary-color: #ccc;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: lighten($primary-color, 15);
}

// Main section

#main-doc {
  margin: 10px 20px 20px 270px;

  pre {
    background: lighten($primary-color, 20);
    margin: 0px 40px ;
    padding: 20px;
    white-space: pre-wrap;
    //word-wrap: break-word;
    //word-break: keep-all;
    //display: block;
  }
}

span {
  margin-left: 30px;
}


// Navbar section

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  
  width: 260px;
  background: #fff;
  
  padding-top: 30px;

  header {
    text-align: center;

    i {
      color: rgb(216, 83, 216);
    }

    h1 {
      color: darken($primary-color, 20);
    } 
  }


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    //overflow: auto;
    overflow-y: auto;
    height: calc(100% - 190px);
  
    li {
      margin: auto;
      text-align: center;
    }
  }

  .nav-link {
    font-size: 20px;
    color: darken($primary-color, 40);
  }

  a{
    text-decoration: none;
  }
}

@import 'mobile';